<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <p>Jungle started from our love of house plants. We choose our selection with care and hope that you will love your new plant friend as much as we do.</p>

</section>